* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.timer {
    text-align: center;
    padding: 40px 23px;
}

.timer-controls {
    padding: 12px;
}

.control-btn {
    padding: 5px 12px;
}

.fixed {
    list-style: none;
}

.fixed-time {
    padding: 4px;
    font-size: 18px;
}
